[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Botopai50/libultrashipTEST2.git
	branch = claude/shadow-map-system-analysis-4dxo27
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
